<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ConnId" value="f92d078b" />
    <add key="ConnKey" value="1T76ayaoHmlmKEnY/xArxkUGGIFRMkYCi" />
    <add key="ConnData" value="Yqxp5nnuA1ESJX6niuqnsu2esu4yveF/cHx8PR4m/ghm+CK3cBg7TOt9Dypcv8cik4QU7R6sZ9JkvCwNY3aHwkl1QbOgxRHBJQlpmb9zkFDHuXjNEM2XWhV4eiTvdQPs4S0veOBOOSRubcw0B3GTRmVWOnig92xwe6VuznpsntDa+DR0oPbT2KSX4nt+Pf2e0tRUE0+k3Z3VDERP1b/o6W7mV5M3XajKl4nRlccwGEkNv2IkerDS0XXFaM3k4BBXhuuem50mWR/mjRZbXv8ZvQvrd1kNRm0tJLcTVYOn9xjfVPIMogFWAQiH7eDwaFzpxXcf+ipIBxNA1amxU4So06vHN1oJoLKKxfH/CNzn+bQ8DiOvywsuX7xBTviMfb7S13RoKssTzVEIuBwOOdOZOCn1CWIWEYASF9noJEyom6pqS1Mp9LfysRuzvj3e9wdvAZiIgX5gGKWwgbwtuMAFPYIqr3DEcSp8grT7SN4uulfpPCcy9uhfLXjFg1q0F9XVQ0XnVzxaHCmq47gs2iywsXSljwKMEMS5x51Ky9HK/N+Z8k2zyULdepX8uUTUnZ8XbBYdwULdp1a+JGDK9A3eLQ==" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>